@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.login-pg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: #ffffff;
    height: 100vh;
    background-size: cover;
}

.login-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 220px;
    height: 440px;
    padding: 20px;
}

@media (min-width:768px) {
    .login-card-container {
        width: 350px;
        height: 480px;
        padding: 25px;
    }
}

.main-heading {
    font-size: 28px;
    font-family: "lato", sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 10px;
}

@media (min-width:768px) {
    .main-heading {
      font-size: 38px;
    }
}

.input-text {
  margin-bottom: 20px; 
  width: 95%;
  align-self: center;
}

.error-msg {
  font-size: 10px;
  color: red;
  font-family: "Open Serif";
  font-weight: 500;
}

@media (min-width: 768px) {
  .error-msg {
    font-size: 14px;
  }
}

.select-role {
    margin-bottom: 10px; 
    margin-left: 0px;
    width: 95%;
    height: 48px;
    align-self: center;
    border-radius: 4px;
    text-align: center;
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

@media (min-width:768px) {
    .select-role {
      font-size: 20px;
    }
}

.options {
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

@media (min-width:768px) {
    .options {
      font-size: 20px;
    }
}
